.about{
  background-color: $color-gray-light;
  color: $color-light;
  align-items: center;
  @include lg-min{
    padding: 100px 0;
  }
  @include lg-md{
    padding: 100px 0;
  }
  @include md-sm{
    padding: 80px 0;
  }
  @include sm{
    padding: 60px 0;
  }
  &__container{
    display: grid;
    @extend %container;
    @include lg-min{
      grid-template-columns: 1fr 271px;
      grid-gap: 100px;
    }
    @include lg-md{
      grid-template-columns: 1fr 255px;
      grid-gap: 100px;
    }
    @include md-sm{
      grid-template-columns: 1fr 236px;
      grid-gap: 20px;
    }
    @include sm{
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }
  &__content {
    position: relative;
    color:$color-gray;
    letter-spacing: 0.05em;
    line-height: 1.13;
    @include lg-min{
      font-size: 1.125rem;
    }
    @include lg-md{
      font-size: 1.125rem;
    }
    @include md-sm{
      font-size: 1rem;
    }
    @include sm{
      font-size: 1rem;
    }
  }
  &__image{
    background-image: url("../../assets/img/img-lamp-webdev.png");
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;

    height: 100%;
    min-height: 488px;
  }
  &__content p:first-of-type {
    position: relative;
    margin-top: -5px;
  }
  &__content p:first-of-type::after {
    position: absolute;
    top: 0;
    width: 2px;
    height: 200px;
    content: "";
    background-color: rgba(99, 117, 136, 0.1);

    @include lg-min{
      right: -50px;
    }
    @include lg-md{
      right: -20px;
    }
    @include md-sm{
      right: -10px;
    }
    @include sm{
      display: none;
    }
  }
}