*{
  box-sizing: border-box;
}
html{
  overflow-y: scroll;
  font-family:$font-main;
  font-size: $font-size;
  color: $color-gray;
  letter-spacing: 0.1em;
}
h1{
  font-family: $font-header;
  font-weight: 300;
  letter-spacing: 0.08em;
  line-height: 1.2;
  @include lg-min{
    font-size: 3.75rem;
  }
  @include lg-md{
    font-size: 2.5rem;
  }
  @include md{
    font-size: 1.875rem;
  }
 }
h2{
  margin-top: 0;
  font-family: $font-header;
  color: $color-primary!important;
  letter-spacing: 0.23rem;
  @include lg-min{
    font-size: 2.5rem;
    margin-bottom: 55px;
  }
  @include lg-md{
    font-size: 2rem;
    margin-bottom: 42px;
  }
  @include md-sm{
    font-size: 1.5rem;
    margin-bottom: 42px;
  }
  @include sm{
    margin-bottom: 36px;
    text-align: center;
    font-size: 1.5rem;
  }
}
h3{
  color:$color-gray;
  font-size: 1.125rem;
  letter-spacing: 0.08em;
}
a{
  text-decoration: none;
  color: $color-light;

}
.btn-accent,
.btn{
  display: block;
  font-size: 1.125rem;
  background-color: rgba(255,255,255, 0.1);
  padding: 18px $gap;
  height: 60px;
  text-align: center;
  transition: background-color 0.5s;
  letter-spacing: 0.1em;
  &:hover,
  &:focus{
    background-color: $color-accent;
  }
}
.btn{
  border: 2px solid $color-light;
  min-width: 250px;
  background-color: rgba(255,255,255, 0.1);
  @include lg-min{
    min-width: 250px;
    padding: 18px $gap;
    height: 60px;
    font-size: 1.125rem;
  }
  @include lg-md{
    min-width: 200px;
    padding: 14px $gap;
    height: 50px;
    font-size: 1rem;
  }
  @include md{
    min-width: 170px;
    padding: 9px $gap;
    height: 40px;
    font-size: 1rem;
  }
}
.btn-accent{
  border: 2px solid $color-primary;
  min-width: 350px;
  background-color: rgba($color-primary, 0.8);

  @include sm{
      min-width: auto;
      width: 100%;
  }
}
input {
  overflow: visible;
  outline: none;
}